.main{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #333333;
}
.icon{
    margin-left: 2.5rem;
    width: 180px;
    height: auto;
}.main div h1{
    margin-top: 2rem;
}


.main div *:hover{
    scale : 1.2;
}
